* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%; 
    font-family: 'Barlow', sans-serif;
    font-family: 'Bellefair', serif;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
}

.homePage {
    background-image: url(./starter-code/assets/home/background-home-desktop.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */

nav {
    position: fixed;
    top: 1%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 2em 1em;
    background: transparent;
}

.leftNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    height: 100%;
    padding-left: 5em;
}

.logoContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

.homepage-hr {
    width: 100%;
    height: 1px;
    background-color: #979797;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateX(40px);
    z-index: 1;
}

.rightNav {
    width: 60vw;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(110, 110, 110, 0.2);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
}

ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5em;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
    padding-right: 5em;
    height: 100%;
    color: #eee;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

ul li:hover::after {
    content: "11";
    color: transparent;
    width: 55%;
    position: absolute;
    height: 3px;
    bottom: 1%;
    border-radius: 5px;
    background-color: #fff;
}

span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}


/* Main  */

.homePage main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10em;
}

.homePage .leftMain {
    height: 50vh;
    width: 50vw;
    margin-left: 10em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.homePage .leftMain h3 {
    font-size: 26px;
    color: #D0D6F9;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.homePage .leftMain h1 {
    font-weight: normal;
    font-size: 150px;
    color: #fff;
    font-family: 'Bellefair', serif;
}

.homePage .leftMain p {
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    max-width: 65%;
}

.homePage .rightMain {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage .rightMain h1 {
    background-color: #fff;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Bellefair', serif;
    font-weight: normal;
}

/* Destination Page */

.destinationPage {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./starter-code/assets/destination/background-destination-desktop.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    width: 80%;
    max-height: 20vh;
    margin-top: 15em;
}

.headline h2 {
    font-family: 'Barlow Condensed';
    font-size: 28px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: normal;
}

.headline h2 span {
    font-weight: bold;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.25);
}

.destinationPage main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.destinationPage main .leftMain {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinationPage main .leftMain img {
    height: 550px;
    width: 550px;
}

.destinationPage main .rightMain {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8em;
    padding-top: 6vw;
    height: 80vh;
    margin: 0;
    text-align: left;
}

.destinationPage main .rightMain .main-content {
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.destinationLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 50px;
    width: 40%;
    backdrop-filter: none;
    margin: 0;
    padding: 5px;
}

.destinationLinks  li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #eee;
}

.destinationLinks  li::after {
    display: none;
}

.destinationLinks  li a {
    text-decoration: none;
    color: #D0D6F9;
    font-weight: normal;
}

.destinationPage main .rightMain h1 {
    font-size: 100px;
    color: #fff;
    font-family: 'Bellefair', serif;
    font-weight: normal;
    margin: 10px 0;
}

.destinationPage main .rightMain p {
    width: 70%;
    font-size: 18px;
    color: #D0D6F9;
    font-family: 'Barlow';
    line-height: 32px;
    margin-bottom: 2em;
}

.destinationPage main .rightMain hr {
    width: 70%;
    border: 1px solid rgb(141, 141, 141);
    margin-bottom: 1em;
    border-radius: 2px;
}

.details {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.distance , .time {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.destinationPage main .rightMain .details .distance p {
    font-size: 16px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
    margin: 0;
    margin-bottom: .8em;
}

.destinationPage main .rightMain .details .distance h5 {
    font-family: "Bellefair";
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

.destinationPage main .rightMain .details .distance h5 span {
    font-family: "Bellefair";
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

.destinationPage main .rightMain .details .time p {
    font-size: 16px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
    margin: 0;
    margin-bottom: .8em;
}

.destinationPage main .rightMain .details .time h5 {
    font-family: "Bellefair";
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

.destinationPage main .rightMain .details .time h5 span {
    font-family: "Bellefair";
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}


/* Crew Page */

.crewPage {
    height: 100vh;
    width: 100%;
    background-image: url(/starter-code/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crewPage main {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.crewPage .leftMain {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
}

.crewPage .leftMain main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5em;
}

.crewPage .leftMain main h2 {
    font-size: 32px;
    font-family: 'Bellefair';
    font-weight: normal;
    margin-bottom: .5em;
    color: rgba(255, 255, 255, 0.4);
}

.crewPage .leftMain main h1 {
    font-size: 4.5rem;
    font-family: 'Bellefair';
    color: #fff;
    font-weight: normal;
    margin-bottom: .2em;
}

.crewPage .leftMain main p {
    font-size: 1.2rem;
    font-family: 'Barlow';
    color: #D0D6F9;
    font-weight: normal;
    line-height: 32px;
    max-width: 80%;
    max-height: 50%;
}

.circle-navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 60px;
    margin-bottom: auto;
    margin-top: 2em;
}

.circle-navlinks div {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 50%;
}

.crewPage .rightMain {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.crewPage .rightMain img {
    width: 30rem;
    height: 70%;
    margin-left: auto;
    margin: 0;
    margin-top: 40px;
}

.technologyPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./starter-code/assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}

.technologyPage .headline {
    margin-left: 12em;
}

.technologyPage main {
    width: 90%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technologyPage .leftMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.tech-nav {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.one, .two, .three {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-family: "Bellefair";
}

.technologyPage .leftMain .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technologyPage .leftMain .main-text h2 {
    font-size: 18px;
    font-family: 'Barlow Condensed';
    font-weight: normal;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    margin-bottom: 10px;
}

.technologyPage .leftMain .main-text h1 {
    font-family: "Bellefair";
    font-size: 56px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}

.technologyPage .leftMain .main-text p {
    font-family: "Barlow";
    font-size: 18px;
    color: #D0D6F9;
    line-height: 32px;
    width: 100%;
}


.technologyPage .rightMain {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.technologyPage .rightMain img {
    max-height: 32rem;
    height: 100%;
    width: 32rem;
    margin-left: auto;
}

.menu {
    display: none;
}

/* ul li:hover::after {
    content: "11";
    color: transparent;
    width: 55%;
    position: absolute;
    height: 3px;
    bottom: 1%;
    border-radius: 5px;
    background-color: #fff;
} */

/* ul li::after {
    content: "11";
    color: transparent;
    width: 55%;
    position: absolute;
    height: 3px;
    bottom: 1%;
    border-radius: 5px;
    background-color: #fff;
} */


@media screen and (max-width: 550px) {

    * {
        margin: 0;
        padding: 0;
    }


    body {
        display: flex;
        flex-direction: column; 
        overflow: scroll;
    }

    section {
        min-height: 100vh;
    }

    .homePage {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-image: url(./starter-code/assets/home/background-home-mobile.jpg);
        padding: 0;
        margin: 0;
    }

    nav {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 0;
        height: 10vh;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
    }

    .logoContainer {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1em;
    }

    .logoContainer img {
        width: 40px;
        height: 40px;
    }

    .homepage-hr {
        display: none;
    }

    .leftNav {
        padding: .5em;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rightNav {
        position: absolute;
        top: 0%;
        right: -100%;
        width: 65vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background-color: rgba(121, 121, 121, 0.2);
        backdrop-filter: blur(14px);
        display: flex;
        transition: all 0.3s ease-in;
        opacity: 0;
    }
    .active {
        display: flex;
        right: 0%;
        opacity: 1;
    }

    ul li:hover::after {
        content: "11";
        color: transparent;
        width: 100%;
        position: absolute;
        height: 3px;
        bottom: 1%;
        border-radius: 5px;
        background-color: #fff;
    }

    .homePage .rightNav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 50%;
        padding-left: 4em;
        background: transparent;
        backdrop-filter: none;
    }

    .homePage .rightNav ul li {
        margin: .2em 0;
        padding: 0;
        font-size: 20px;
        letter-spacing: 2.7px;
    }

    span {
        font-size: 22px;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: .5em;
    }

    .hamburger {
        display: block;
        z-index: 9999;
        height: 25px;
        width: 40px;
        margin: auto;
        margin-right: 20px;
    }

    .homePage main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .homePage .leftMain {
        margin: 0;
        padding: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10em;
        height: 100%;
        width: 100%;
    }

    .homePage .leftMain h3 {
        font-size: 20px;
        letter-spacing: 2.7px;
        width: 90%;
        text-align: center;
    }


    .homePage .leftMain h1 {
        font-size: 85px;
        margin: .2em 0;
    }

    .homePage .leftMain p {
        width: 90%;
        padding: 0;
        text-align: center;
        max-width: 100%;
        margin: 0;
        margin-left: 0;
        line-height: 25px;
    }

    .homePage .rightMain {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .homePage .rightMain h1 {
        height: 200px;
        width: 200px;
        font-size: 23px;
    }

    .destinationPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: url(./starter-code/assets/destination/background-destination-mobile.jpg);
    }

    .headline {
        margin-top: 3em;
        width: 100%;
        text-align: center
    }

    .headline h2 {
        font-size: 18px;
    }

    .headline h2 span {
        font-size: 18px;
    }

    .destinationPage main {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .destinationPage main .leftMain {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .destinationPage main .leftMain img {
        height: 200px;
        width: 200px;
        margin: 0;
    }

    .destinationPage main .rightMain {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .destinationPage main .rightMain .main-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }

    .destinationLinks {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .destinationLinks li {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        z-index: 1;
    }

    .destinationPage main .rightMain h1 {
        font-size: 60px;
    }

    .destinationPage main .rightMain p {
        font-size: 17px;
        width: 95%;
        text-align: center;
        line-height: 25px;

    }

    .destinationPage main .rightMain hr {
        width: 90%;
        border: 1px solid rgb(141, 141, 141);
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .distance , .time  {
        width: 100%;
        text-align: center;
        padding: .5em;
    }

    .details p {
        font-size: 14px;
    }

    .details h5 {
        font-size: 28px;
    }

    .crewPage {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
       padding: 0;
       padding-top: 2em;
       padding-bottom: 2em;
    }

    .crewPage main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .crewPage .rightMain {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-top: 1em;
    }

    .crewPage .rightMain img {
        width: 20rem;
        height: 25rem;
        margin: 0;
        border-bottom: 1px solid rgb(131, 131, 131);
        margin-top: 1em;
    }

    .crewPage .leftMain  {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .crewPage .leftMain main {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .crewPage .leftMain main .mobile-second {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .crewPage .leftMain main h2 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
    }

    .crewPage .leftMain main h1 {
        font-size: 2rem;
    }

    .crewPage .leftMain main p {
        width: 90%;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        max-width: 100%;
    }

    .circle-navlinks {
        width: 50%;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: auto;
        margin-bottom: 10px;
    }

    .circle-navlinks div {
        height: 20px;
        width: 20px;
    }

    .technologyPage {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-image: url(./starter-code/assets/technology/background-technology-mobile.jpg);
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .technologyPage .headline {
        margin: 0;
        padding: 0;
        padding-bottom: 2em;
    }

    .technologyPage main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .technologyPage .rightMain {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .technologyPage .rightMain img {
        max-height: 100%;
        height: 370px;
        width: 100%;
        margin: 0;
    }

    .technologyPage .leftMain {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .crewPage .leftMain main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tech-nav {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 100%;
        margin: 0;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .tech-nav div {
        height: 50px;
        width: 50px;
        font-size: 18px;
    }

    .technologyPage .leftMain .main-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
    }

    .technologyPage .leftMain .main-text h2 {
        font-size: 16px;
    }

    .technologyPage .leftMain .main-text h1 {
        font-size: 40px;
    }

    .technologyPage .leftMain .main-text p {
        width: 90%;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }

}